{% if tours == null %}
    <div class="alert alert-warning">
        <strong>Внимание!</strong> Нет добавленных концертов
    </div>
{% else %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Город</th>
            <th>Место</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for tour in tours %}
            <tr>
                <td>{{ tour.date }}</td>
                <td>{{ tour.city }}</td>
                <td>{{ tour.location }}</td>
                <td>
                    <button type="button"
                            class="btn btn-success"
                            data-toggle="modal"
                            data-target="#{{ tour.id }}"
                            data-tooltip="tooltip" title="Редактировать">
                        <span class="fa fa-edit"></span>
                    </button>
                    <div id="{{ tour.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Изменить концерт</h4>
                                </div>
                                <div class="info-message alert" hidden></div>
                                <form>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="tourDate">Дата концерта</label>
                                            <div class='input-group date' id='datetimepicker2'>
                                                 <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                 </span>
                                                <input type='text' class="form-control"
                                                       name="tour-date" id="tourDate" value="{{ tour.date }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tourCity">Город</label>
                                            <input type="text" name="tour-city" id="tourCity" class="form-control" value="{{ tour.city }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="tourPlace">Место</label>
                                            <input type="text" name="tour-place" id="tourPlace" class="form-control" value="{{ tour.location }}">
                                        </div>
                                        <input type="text" id="path" value="{{ path('edit_tour') }}" hidden>
                                        <input type="text" id="id" value="{{ tour.id }}" hidden>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                                            <span class="fa fa-close"></span>&nbsp;Отменить
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                onclick="editTour(this.form)">
                                            <span class="fa fa-plus"></span>&nbsp;Добавить
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </td>
                <td>
                    <form action="{{ path('delete_tour') }}" method="post">
                        <button type="submit"
                                class="btn btn-danger"
                                name="tour_id"
                                value="{{ tour.id }}"
                                data-tooltip="tooltip" title="Удалить">
                            <span class="fa fa-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}